include README.md
include requirements.txt

global-include configs/*.conf
global-exclude tests/*

# not necessary ci distribution with .gitignore such files
#global-exclude *.py[co] .DS_Store
#global-exclude __pycache__/*
